.footer {
  width: 100vw;
  padding: 3vh;
  color: #FFF;
  background-color: #272727;
  text-align: center;
}



.logo-white {
  width: 15vh;
  vertical-align: bottom;
}

.footer>p {
  font-size: 14px;
}